
.about {
  &__left {
    background-image: url("./img/elements/bkgd-trees-filtered-purple.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__right {
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow: scroll;
  }

  &__photo {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    z-index: 900;
    border-radius: 50%;
  }
}