html, body, .app {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0; }

article.text-container {
  padding: 65px 15%; }

/*=== MEDIA QUERIES ===*/
@media (min-width: 1199px) and (max-width: 1440px) {
  .project-unit {
    text-align: center;
    margin: 30px 25%; }
  .padding-bottom, .padding-left {
    padding-left: 0; } }

@media (max-width: 1199px) {
  .project-unit {
    text-align: center; } }

@media (max-width: 907px) {
  .page-heading {
    font-size: 5em; }
  header h1 {
    font-size: 5em; }
  header p {
    font-size: 1em; }
  nav {
    font-size: 1em; }
  img#landing-icon {
    height: 500px;
    width: 333px; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; } }

@media (max-width: 570px) {
  header h1 {
    font-size: 4em; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; }
  #btn-submit {
    font-size: .7em;
    margin-right: 17px; } }
