.navigation {
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway";
  color: #90E6FF;
  letter-spacing: 2px;
  margin-bottom: 0px;
  position: absolute;
  top: 91%; }
  .navigation__link {
    text-decoration: none;
    color: #90E6FF;
    text-shadow: 1px 1px #262626;
    text-transform: uppercase; }
    .navigation__link:hover {
      color: #fff;
      padding-bottom: 4px;
      border-bottom: 4px solid #fff;
      text-decoration: none;
      text-shadow: 1px 1px #262626; }
