@import './_mixins.scss';

.projects {
  height: 100vh;
  width: 100vw;

  display: flex;

  &_left {
    @include contentPane;
    padding-bottom: 30px;
  }

  &_right {
    @include navigationPane("./img/elements/bkgd-leaves-filtered-purple.jpg");

    &_heading {
      @include splitPaneHeading;
    }
  }

  &_row {
    padding: 0 5px;

    h3 {
      text-align: center;
      text-transform: uppercase;
      padding: 2px 0;
    }

    &_left, &_right {
      display: flex;
      justify-content: space-around;
    }

    &_proj {
      flex: 1;
      padding: 0 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      &_img {
        height: 200px;
        box-shadow: var(--shadow-dark);
      }
    }

    &_info {
      flex: 1;
      padding: 0 10px;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      button {
        box-shadow: var(--shadow-light);
        margin-left: auto;
        margin-right: auto;
        background: var(--blue);
        color: #fff;
        border-color: var(--blue);
        font-size: 14px;
        min-height: 27px;
        text-decoration: none;
        outline: none;
        border-width: 2px;
        border-radius: 0;
        font-weight: 400;
        padding: 8px 18px;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover, &:focus {
          background-color: darken(#337ab7, 5%);
          border-color: darken(#337ab7, 5%);
          // color: var(--grey);
          text-decoration: none;
        }
      }
    }
  }
}


// .btn.sharp {
//   border-radius: 0;
//   border: none;
//   padding: 7px 14px;
//   font-size: 1.1em;
//   text-transform: uppercase;
//   margin-top: 15px;
// }

// .btn.see {
//   display: inline-block;
//   width: 153px;
//   margin-left: 2px;
// }

// i.fa.fa-github, i.fa.fa-eye {
//   padding-right: 5px;
// }
