.float-left {
  float: left; }

.float-right {
  float: right; }

article.text-container {
  padding: 65px 15%; }

/*=== MEDIA QUERIES ===*/
@media (min-width: 1199px) and (max-width: 1440px) {
  .project-unit {
    text-align: center;
    margin: 30px 25%; }
  .padding-bottom, .padding-left {
    padding-left: 0; } }

@media (max-width: 1199px) {
  .project-unit {
    text-align: center; } }

@media (max-width: 907px) {
  .page-heading {
    font-size: 5em; }
  header h1 {
    font-size: 5em; }
  header p {
    font-size: 1em; }
  nav {
    font-size: 1em; }
  img#landing-icon {
    height: 500px;
    width: 333px; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; } }

@media (max-width: 570px) {
  header h1 {
    font-size: 4em; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; }
  #btn-submit {
    font-size: .7em;
    margin-right: 17px; } }

.projects {
  height: 100vh;
  width: 100vw;
  display: flex; }
  .projects_left {
    flex: 1;
    height: 100vh;
    background-color: yellow; }
  .projects_right {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

.contact {
  height: 100vh;
  width: 100vw;
  display: flex; }
  .contact_left {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/bkgd-forest-filtered-purple-59.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .contact_right {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow: scroll; }

.contact-headers {
  padding-bottom: 15px; }

.contact-icon {
  text-decoration: none;
  color: #262626;
  padding: 0 25px 0 0; }

.form-group {
  font-family: "Raleway";
  font-size: 1.3em;
  padding: 5px 25px 0 25px;
  color: #90E6FF;
  text-shadow: 2px 2px #262626; }

#form-container {
  background-color: gray;
  border-radius: 5px;
  padding-bottom: 50px;
  border: 1px solid #262626; }

#follow-me {
  padding-top: 30px; }

#btn-submit {
  float: right;
  margin-right: 25px;
  font-family: "Raleway";
  font-size: 1.2em;
  font-weight: 600;
  color: #262626;
  background-color: #90E6FF;
  border: 1px solid #262626; }

.about__left {
  background-image: url("./img/elements/bkgd-trees-filtered-purple.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat; }

.about__right {
  background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway";
  overflow: scroll; }

.about__photo {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 175px;
  z-index: 900;
  border-radius: 50%; }

/* === HOME PAGE ONLY === */
header {
  font-family: "Raleway";
  color: #90E6FF;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #262626;
  position: relative;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  header h1 {
    font-family: 'Allura', cursive;
    text-transform: none;
    font-size: 8em;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 2.5px; }
  header p {
    margin-top: 0px;
    font-size: 1.5em;
    letter-spacing: 2px; }

div#landing-bkgd,
img#landing-icon {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

div#landing-bkgd {
  background-image: url("./img/elements/bkgd-cherry-filtered-purple.jpg"); }

img#landing-icon {
  background-image: url("./img/elements/medium-bluetree-icon_lit_crosshatch.png");
  height: 700px;
  width: 475px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

nav#landing-nav {
  bottom: -5%; }

.navigation {
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway";
  color: #90E6FF;
  letter-spacing: 2px;
  margin-bottom: 0px;
  position: absolute;
  top: 94%; }
  .navigation__link {
    text-decoration: none;
    color: #90E6FF;
    text-shadow: 1px 1px #262626;
    text-transform: uppercase; }
    .navigation__link:hover {
      color: #fff;
      padding-bottom: 4px;
      border-bottom: 4px solid #fff;
      text-decoration: none;
      text-shadow: 1px 1px #262626; }
