@import url("//fonts.googleapis.com/css?family=Raleway:400,700,800");
@import url("//fonts.googleapis.com/css?family=Allura");
:root {
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
  --yellow: #FEF760;
  --grey: #41464b;
  --blue: #337ab7;
  --text-header: 'Montserrat', sans-serif;
  --text-normal: 'Montserrat', sans-serif;
  --text-button: 'Montserrat', sans-serif; }

html, body, .app {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0; }

article.text-container {
  padding: 65px 15%; }

/*=== MEDIA QUERIES ===*/
@media (min-width: 1199px) and (max-width: 1440px) {
  .project-unit {
    text-align: center;
    margin: 30px 25%; }
  .padding-bottom, .padding-left {
    padding-left: 0; } }

@media (max-width: 1199px) {
  .project-unit {
    text-align: center; } }

@media (max-width: 907px) {
  .page-heading {
    font-size: 5em; }
  header h1 {
    font-size: 5em; }
  header p {
    font-size: 1em; }
  nav {
    font-size: 1em; }
  img#landing-icon {
    height: 500px;
    width: 333px; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; } }

@media (max-width: 570px) {
  header h1 {
    font-size: 4em; }
  .contact-headers {
    text-align: center; }
  .contact-icon {
    padding: 0; }
  #social-media-container {
    text-align: center; }
  #btn-submit {
    font-size: .7em;
    margin-right: 17px; } }

.projects {
  height: 100vh;
  width: 100vw;
  display: flex; }
  .projects_left {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 30px; }
  .projects_right {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/bkgd-leaves-filtered-purple.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; }
    .projects_right_heading {
      font-family: 'Allura', cursive;
      color: #90E6FF;
      text-shadow: 1px 1px #262626;
      font-size: 8em;
      font-weight: 700;
      letter-spacing: 2.5px; }
  .projects_row {
    padding: 0 5px; }
    .projects_row_tablet {
      text-align: center;
      padding-bottom: 10px; }
    .projects_row h3 {
      text-align: center;
      text-transform: uppercase;
      padding: 2px 0; }
    .projects_row_left, .projects_row_right {
      display: flex;
      justify-content: space-around; }
    .projects_row_proj {
      flex: 1;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .projects_row_proj_img {
        height: 200px;
        box-shadow: var(--shadow-dark); }
        .projects_row_proj_img_tablet {
          height: 250px;
          margin: 5px 0 15px 0; }
    .projects_row_info {
      flex: 1;
      padding: 0 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .projects_row_info button {
        box-shadow: var(--shadow-light);
        margin-left: auto;
        margin-right: auto;
        background: var(--blue);
        color: #fff;
        border-color: var(--blue);
        font-size: 14px;
        min-height: 27px;
        text-decoration: none;
        outline: none;
        border-width: 2px;
        border-radius: 0;
        font-weight: 400;
        padding: 8px 18px;
        text-transform: uppercase; }
        .projects_row_info button a {
          text-decoration: none;
          color: #fff; }
        .projects_row_info button:hover, .projects_row_info button:focus {
          background-color: #2d6da3;
          border-color: #2d6da3;
          text-decoration: none; }

.contact {
  height: 100vh;
  width: 100vw;
  display: flex; }
  .contact_left {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/bkgd-forest-filtered-purple-59.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact_left_heading {
      font-family: 'Allura', cursive;
      color: #90E6FF;
      text-shadow: 1px 1px #262626;
      font-size: 8em;
      font-weight: 700;
      letter-spacing: 2.5px; }
  .contact_right {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow-x: hidden;
    overflow-y: auto; }

.contact-headers {
  padding-bottom: 15px; }

.contact-icon {
  text-decoration: none;
  color: #262626;
  padding: 0 25px 0 0; }

.form-group {
  font-family: "Raleway";
  font-size: 1.3em;
  padding: 5px 25px 0 25px;
  color: #90E6FF;
  text-shadow: 2px 2px #262626; }

#form-container {
  background-color: gray;
  border-radius: 5px;
  padding-bottom: 50px;
  border: 1px solid #262626; }

#follow-me {
  padding-top: 30px; }

#btn-submit {
  float: right;
  margin-right: 25px;
  font-family: "Raleway";
  font-size: 1.2em;
  font-weight: 600;
  color: #262626;
  background-color: #90E6FF;
  border: 1px solid #262626; }

.about {
  height: 100vh;
  width: 100vw;
  display: flex; }
  .about_left {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/bkgd-trees-filtered-purple.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about_left_heading {
      font-family: 'Allura', cursive;
      color: #90E6FF;
      text-shadow: 1px 1px #262626;
      font-size: 8em;
      font-weight: 700;
      letter-spacing: 2.5px; }
  .about_right {
    flex: 1;
    height: 100vh;
    background-image: url("./img/elements/Page-bluetree-bkgd-32.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
    overflow-x: hidden;
    overflow-y: auto; }
  .about__photo {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    z-index: 900;
    border-radius: 50%; }

.home {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url("./img/elements/bkgd-cherry-filtered-purple.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home_icon {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 700px;
    width: 475px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .home header {
    font-family: "Raleway";
    color: #90E6FF;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px #262626;
    position: relative;
    padding-bottom: 120px; }
    .home header h1 {
      font-family: 'Allura', cursive;
      text-transform: none;
      font-size: 8em;
      font-weight: 700;
      margin-bottom: 0px;
      padding-bottom: 0px;
      letter-spacing: 2.5px; }
    .home header p {
      margin-top: 0px;
      font-size: 1.5em;
      letter-spacing: 2px; }

.navigation {
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway";
  color: #90E6FF;
  letter-spacing: 2px;
  margin-bottom: 0px;
  position: absolute;
  top: 91%; }
  .navigation__link {
    text-decoration: none;
    color: #90E6FF;
    text-shadow: 1px 1px #262626;
    text-transform: uppercase; }
    .navigation__link:hover {
      color: #fff;
      padding-bottom: 4px;
      border-bottom: 4px solid #fff;
      text-decoration: none;
      text-shadow: 1px 1px #262626; }
