/* === SHARED STYLES === */

html,
body,
#root,
#routingRoot,
#landing-bkgd,
.container,
.float-left,
.float-right {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  // background-color: #2D4573;
}

.page-heading {
  font-family: 'Allura', cursive;
  color: #90E6FF;
  text-shadow: 2px 2px #262626;
  font-size: 8em;
  font-weight: 700;
  letter-spacing: 2.5px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway";
  color: #90E6FF;
  letter-spacing: 2px;
  margin-bottom: 0px;
  position: absolute;
  top: 96%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

nav a {
  text-decoration: none;
  color: #90E6FF;
  text-shadow: 2px 2px #262626;
  text-transform: uppercase;
}

nav a:hover {
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 4px solid #fff;
  text-decoration: none;
  text-shadow: 2px 2px #262626;
}

.float-left,
.float-right {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

article.text-container {
  padding: 65px 15%;
}


/* === LANDING PAGE ONLY === */

header {
  font-family: "Raleway";
  color: #90E6FF;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #262626;
  position: relative;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  h1 {
    font-family: 'Allura', cursive;
    text-transform: none;
    font-size: 8em;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 2.5px;
  }

  p {
    margin-top: 0px;
    font-size: 1.5em;
    letter-spacing: 2px;
  }
}

div#landing-bkgd,
img#landing-icon {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

div#landing-bkgd {
  background-image: url("../../img/bkgd-cherry-filtered-purple.jpg");
}

img#landing-icon {
  background-image: url("../../img/medium-bluetree-icon_lit_crosshatch.png");
  height: 700px;
  width: 475px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

nav#landing-nav {
  bottom: -5%;
}


/* === ABOUT PAGE ONLY === */

#about-left {
  background-image: url("../../img/bkgd-trees-filtered-purple.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-right {
  background-image: url("../../img/Page-bluetree-bkgd-32.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway";
  overflow: scroll;
}

img#me {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 175px;
  z-index: 900;
  border-radius: 50%;
}


/* === PROJECTS PAGE ONLY === */

.project-icon {
  height: 150px;
  width: 300px;
  box-shadow: 2px 2px #262626;
}

.projects-container {
  padding: 30px 7%;
}

.project-title {
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.row {
  padding-bottom: 30px;
}

.btn.sharp {
  border-radius: 0;
  border: none;
  padding: 7px 14px;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-top: 15px;
}

.btn.see {
  display: inline-block;
  width: 153px;
  margin-left: 2px;
}

i.fa.fa-github, i.fa.fa-eye {
  padding-right: 5px;
}

.skills-text {
  padding-bottom: 20px;
}

.padding-left {
  padding-left: 25px;
}

.padding-bottom {
  padding-bottom: 30px;
}

#projects-left,
#projects-right {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

#projects-left {
  background-image: url("../../img/Page-bluetree-bkgd-32.jpg");
  font-family: "Raleway";
  overflow: scroll;
}

#projects-right {
  background-image: url("../../img/bkgd-leaves-filtered-purple.jpg");
}

#gamma {
  background-image: url("../../img-projects/gamma-1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


/* === CONTACT PAGE ONLY === */

.contact-headers {
  padding-bottom: 15px;
}

.contact-icon {
  text-decoration: none;
  color: #262626;
  padding: 0 25px 0 0;
}

.form-group {
  font-family: "Raleway";
  font-size: 1.3em;
  padding: 5px 25px 0 25px;
  color: #90E6FF;
  text-shadow: 2px 2px #262626;
}

#form-container {
  background-color: gray;
  border-radius: 5px;
  padding-bottom: 50px;
  border: 1px solid #262626;
}

#follow-me {
  padding-top: 30px;
}

#btn-submit {
  float: right;
  margin-right: 25px;
  font-family: "Raleway";
  font-size: 1.2em;
  font-weight: 600;
  color: #262626;
  background-color: #90E6FF;
  border: 1px solid #262626;
}

#contact-left {
  background-image: url("../../img/bkgd-forest-filtered-purple-59.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-right {
  background-image: url("../../img/Page-bluetree-bkgd-32.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway";
  overflow: scroll;
}

/*=== MEDIA QUERIES ===*/

@media(min-width: 1199px) and (max-width: 1440px) {
  .project-unit {
      text-align: center;
      margin: 30px 25%;
  }
  .padding-bottom, .padding-left {
      padding-left: 0;
  }
}

@media(max-width: 1199px) {
  .project-unit {
      text-align: center;
  }
}

@media(max-width: 907px) {
  .page-heading {
      font-size: 5em;
  }
  header h1 {
      font-size: 5em;
  }
  header p {
      font-size: 1em;
  }
  nav {
      font-size: 1em;
  }
  img#landing-icon {
  height: 500px;
  width: 333px;
  }
  .contact-headers {
      text-align: center;
  }
  .contact-icon {
      padding: 0;
  }
  #social-media-container {
      text-align: center;
  }
}

@media(max-width: 570px) {
  header h1 {
      font-size: 4em;
  }
  .contact-headers {
      text-align: center;
  }
  .contact-icon {
      padding: 0;
  }
  #social-media-container {
      text-align: center;
  }
  #btn-submit {
      font-size: .7em;
      margin-right: 17px;
  }
}